body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
    z-index: 0;
}

.header {
    background-color: #fc8507;
}

.header_info {
    width: 1180px;
    margin: 0 auto;
    height: 32px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_navbar span {
    margin: 0 10px 0 0;
}

.header_navbar span:last-child {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar_item a {
    color: inherit;
}

.header_navbar a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navigation {
    height: 64px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.navigation_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto;
}

.navigation .title {
    font-size: 50px;
    font-weight: bold;
    color: #fc8507;
    margin: 0 20px 0 0;
}

.navigation input {
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    width: auto;
    flex-grow: 1;
    margin: 0 20px 0 0;
}

.navigation .buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigation button {
    margin: 0 30px 0 20px;
    height: 30px;
    width: 60px;
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #ADADAD;
}

.navigation button:hover {
    background-color: #fc8507;
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #824403;
}

.center {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

.content {
    display: grid;
    grid-template-columns: 280px 860px;
    grid-template-areas:
            "navbar center";
    grid-gap: 20px;
}

.menu-block .navbar_item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    height: 690px;
    padding: 10px 0 10px 0;
}

.navbar a:hover {
    color: #fc8507;
}

.navbar_item {
    display: flex;
    flex-direction: column;
    padding: 13px 0 12px 30px;
}

.navbar_item:last-child {
    border-top: 1px solid #ADADAD;
    padding: 15px 0 10px 30px;
}

.title {
    color: #333;
    font-size: 16px;
}

.subtitle {
    font-size: 14px;
    color: #888;
}

.center-block {
    display: flex;
    width: 880px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advertisement {
    width: 580px;
    height: 220px;
}

.advertisement img {
    border-radius: 10px;
    height: inherit;
    width: inherit;
}

.stocks {
    width: 280px;
    height: 220px;
}

.stocks_content {
    padding: 24px;
}

.stocks_content a {
    color: inherit;
}

.stocks .title {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 20px 0;
}

.stocks .stocks-item {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.stocks_button {
    margin: 40px 0 0 0;
}

.stocks_button button {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #fc8507;
    color: #fc8507;
    font-size: 16px;
    text-align: center;
}

.stocks_button button:hover {
    background-color: #fc8507;
    color: #FFFFFF;
    border-bottom: 2px solid #824403;
}

.bold {
    font-weight: bold;
    font-size: inherit;
}

.orange {
    color: #fc8507;
}

.blue {
    color: dodgerblue;
}

.actual_offers {
    width: 880px;
    height: 260px;
}

.actual_offers .title {
    font-weight: bold;
    margin: 0 0 16px 0;
    font-size: 24px;
}

.actual_offers_main {
    width: 832px;
    height: 166px;
    padding: 24px;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.actual_offers_main .tabs {
    margin: 0 0 24px 0;
    font-weight: bold;
}

.actual_offers_main .tabs_content {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto 0;

}

.tabs_content a {
    color: inherit;
}

.tabs_content_item {
    display: grid;
    width: 266px;
    height: 100px;
    grid-column-gap: 10px;
    grid-template-rows: 50px 50px;
    grid-template-columns: auto 150px;
    grid-template-areas:
            "img title"
            "img price";
    margin: 0 20px 0 0;
}

.tabs_content_item img {
    grid-area: img;
    height: 100px;
    width: auto;
}

.tabs_content_item_title {
    grid-area: title;
    margin: auto 0 auto 0;
    padding-left: 10px;
}

.tabs_content_item_price {
    grid-area: price;
    font-weight: bold;
    padding: 10px 0 0 10px;
}

.ad_bonus {
    width: 430px;
    height: 153px;
}

.ad_bonus .content {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.ad_bonus .title {
    font-size: 20px;
}

.ad_bonus .text {
    font-size: 14px;
}

.ad_bonus a {
    color: #0d61af;
}

.build_pc {
    width: 356px;
    height: 153px;
}

.firms {
    grid-area: firms;
}

.block {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #FFFFFF;
}

footer {
    background: rgb(51, 51, 51);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_sites {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 50px 0 50px;
}

.dns_logo {
    font-size: 24px;
    color: #fc8507;
    font-weight: bold;
}

.dns_club,
.dns_group {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.club_logo, .group_logo {
    margin: 0 0 0 10px;
}

.club_logo {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    height: 20px;
    width: 37px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
}

.group_logo {
    color: #fc8507;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #fc8507;
    border-radius: 5px;
    width: 57px;
    height: 20px;
    line-height: 22px;
    padding: 0 0 0 1px;
}

.footer_main {
    display: grid;
    grid-template-columns: 265px 530px 265px;
    grid-column-gap: 50px;
}

.footer_main_nav_title,
.footer_main_contacts_title {
    border-bottom: 1px solid #888888;
    padding: 0 0 20px 0;
    margin: 0 0 20px;
    font-weight: bold;
}

.footer_main_nav_item,
.footer_main_nav_item_two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer_main_nav_item a,
.footer_main_nav_item_two a {
    margin: 0 0 15px 0;
}

.footer_main_nav_item_two:last-child {
    height: 180px;
}

.footer_main_contacts_item {
    display: flex;
    flex-direction: column;
}

.footer_main_contacts_item .telephone {
    margin: 0 0 8px 0;
}

.footer_main_contacts_item .address {
    margin: 0 0 20px 0;
}

.footer_main_contacts_item .text {
    margin: 0 0 8px 0;
}

.footer_main_contacts_item input {
    height: 45px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.footer_main_contacts_item .social_networks {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
}

.social_networks img {
    height: 30px;
}

.social_networks_vk {
    margin: 0 10px 0 0;
}

.social_networks_fb {
    margin: 0 10px 0 0;
}

.social_networks_yt {
    margin: 0 10px 0 0;
}

.social_networks_yz {
    margin: 0 10px 0 0;
}

.footer_responsibility {
    font-size: 13px;
    border-top: 1px solid #888888;
    margin: 10px 0 0 0;
    padding: 15px 0 20px 0;
}

.footer a:hover {
    color: #fc8507;
}

/*.overlay_hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.overlay_visible {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    transition: .3s all;
}*/

.modal_hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.modal_active {
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
    color: black;
}

.overlay_hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.overlay_active {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    transition: 0.3s all;
    background-color: rgba(0, 0, 0, .5);
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.city_list div {
    color: black;
    padding: 3px;
    text-align: left;
}

#clock {
    color: white;
    font-size: 20px;
}